{% extends "OrgaController/base.html" %}
{% block header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block body %}
<form action="{{ path(route) }}" method="post">
    <label>Nom</label><input name="name" type="text">
    <label>Domaine</label><input name="domain" type="text">
    <label>Alias</label><input name="alias" type="text">
    <button value="valid" name="valid">Valider</button>
    <button value="cancel" name="cancel">Annuler</button>
    {% if idOrga is defined %}
    <input type="hidden" name="id" value="{{ idOrga }}">
    {% endif %}
</form>
{% endblock %}