<div class="ui grid ">

    <div class="dix wide column ui basic segment"></div>

    <div class="black seven wide column ui basic segment">
        <h2>Store</h2>
        <button class="ui button">Mes commandes</button>
        <br/><br/>
        <button class="ui button">Parcourir le store</button>
    </div>
    
    <div class="black seven wide column ui basic segment">
        <h2>Panier</h2>
        <button class="ui button">Nouveau</button>
        <button class="ui button">Mes paniers </button>
    </div>
    <div class="black sixteen wide column ui basic segment">
        <h2>Promotion en cours</h2>
    </div>
    <div class="black sixteen wide column ui basic segment">
        <h2>Consulté récemment</h2>
        <p>Récent</p>
    </div>
</div>