<!-- Section commande et store-->
    <div class="four wide column ui basic segment"></div>
    <div class="prem">
        <h2>Store</h2>
        <div class="bt"><a href="{{path('order')}}" class="ui button">Mes commandes </a>
        <br/><br/>
        <a href="{{path('store')}}" class="ui button">Parcourir le store</a>
        </div>
    </div>
<!-- Section panier et nouveau panier-->
    <div class="four wide column ui basic segment"></div>
    <div class="premi">
        <h2>Panier</h2>
        <div class="bt">
        <a href="{{path('newBasket')}}" class="ui button">Nouveau panier</a>
        <a href="{{path('basket')}}" class="ui button">Mes paniers</a>
    </div>
    </div>

    <style>
        .prem{
            background: black;
            width: 420px;
            color:white;
            height: 150px;
        }
        .bt{
            margin-left: 12px;
        }
        .premi{
            background: black;
            width: 420px;
            color:white;
            height: 110px;
        }
        h2{
        margin-left: 12px;
        }
    </style>