<h1>Store</h1>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical inverted menu">
            {% for section in listSection %}
            <a href="{{ path('section', [section.id]) }}" class="ui item"> {{ section.name }}
                <span class="bout"> {{ section.products|length }}</span>
            </a>
            {% endfor %}
            <br>
        </div>
    </div>
    <div class="twelve wide column">
        <legend class="prom">Promotions</legend>
        <table class="white ui very basic collapsing celled table">
            <tr>
                {% for prod in listProm %}
                <td>
                    <img src="{{ prod.image }}" alt="alternatetext" width="100" height="80">
                    <div>{{ prod.name }}</div>
                    <strong>{{prod.price}}€</strong>
                    <span class="ui"> {{ prod.promotion }}% </span>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <style>
        .prom{
            font-family: "Arial";
        }
        .bout{
            background: white;
            color: black;
            border-radius: 20px;
            margin-left: 10px;
            width: 12px;
        }
    </style>